.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.section-one{
    padding: 50px;
    color:black;
}
.button .one{
    display: flex;
    flex-direction:column ;
    margin-bottom: 10%;
}
.section-one .button {
    display: flex;
}
.image{
    width:60px ;
    max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.section-one button{
    padding: 5px 0px 0px 20px;
 
     width: 205px;
     height: 50px;
     font-family: Montserrat;
     font-style: normal;
 
     font-size: 14px;
     line-height: 17px;
     /* identical to box height */
     
     letter-spacing: 0.02em;
     border: none;
     color: #FFFFFF;
     background: #278FFF;
 
     border-radius: 6px;
 }
.section-one .vector{
    width: 500px;
    max-width: 100%
    ;
}
.section-one span{
    color:  #9CBFF0;
}
.section-one .content1{
    display: flex;
    margin: auto;
    align-items: center;
    padding: 15px 0px;
    justify-content: space-around;
}
.section-one .button .icon{
width: 200px;
max-width: 100%;
}
.section-one h4{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 39.06px;
line-height: 48px;


letter-spacing: 0.02em;
}
.section-one p{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 30px;
}
header .logo {
    align-items: flex-start;
    padding: 10px 0 0 0 ;
margin-left: 3%;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;

letter-spacing: 0.02em;;
    color: black;
  
}
.button span{
    display: inline;
    padding: 15px;
}
footer {
    display: flex;
    justify-content: space-around;
    margin: 0 35px;
    padding: 30px;
}
footer .content{
    display: inline;
    margin-right: 30px;
}
footer .content1{
    display: inline;
}
.blue{
   color:  #278FFF;

}
/*Mobile screen*/
@media only screen and (max-width: 400px){
    .section-one{
        padding: 80px;
        color:black;
    }
    .section-one .content1{
        display: flex;
        flex-flow: row wrap;
        flex-wrap: wrap; 
        margin: auto;
        padding: 10px 0px;
    }
    .section-one .vector{
     display: none;
    }
    .section-one h4{
        font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 18.06px;
    line-height: 18px;
    
    
    letter-spacing: 0.02em;
    }
    body{
        overflow: hidden;
    }
    .section-one p{
        font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    }
    .section-one .button .icon{
        width: 55px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    footer {
        display: flex;
        justify-content: space-around;
        margin: 0 35px;
        padding: 30px;
        flex-wrap: wrap;
    }
    footer .content{
        display: inline;
        margin-right: 30px;
    }
    footer .content1{
        display: inline;
    }
    .blue{
       color: #278FFF;
       
    }
} 

@media only screen and (max-width: 770px){
    .section-one{
        margin-top: auto;
        margin-bottom: auto;
        padding: 120px;
        color:black;
    }
    .section-one .content1{
        display: flex;
        flex-flow: row wrap;
        flex-wrap: wrap; 
        margin: auto;
        padding: 10px 0px;
    }
    .section-one .vector{
   display: none;
    }
    .section-one h4{
        font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 24.06px;
    line-height: 26px;
    
    
    letter-spacing: 0.02em;
    }
    body{
        overflow: hidden;
    }
    .section-one p{
        font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    }
    .section-one .button .icon{
     
        width: 130px;

        max-width: 100%;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 35px;
    padding: 30px;
}
footer .content{
    display: inline;
    margin-right: 30px;
}
footer .content1{
    display: inline;
}
.blue{
    color: #278FFF;
}
}


@media only screen and (max-width: 1150px){
    
.section-one{
    padding: 50px;
    color:black;
}
.section-one .vector{
    width: 500px;
    max-width: 100%
    ;
}
.section-one span{
    color:  #9CBFF0;;
}
.section-one .content1{
    display: flex;
    margin: auto;
    align-items: center;
    padding: 15px 0px;
    justify-content: space-around;
}
.section-one .button .icon{
width: 200px;
max-width: 100%;
}
.section-one h4{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 39.06px;
line-height: 48px;


letter-spacing: 0.02em;
}
.section-one p{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
}
header .logo {
    align-items: flex-start;
    padding: 10px 0 0 0 ;
margin-left: 3%;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;

letter-spacing: 0.02em;;
    color: black;
  
}
.button span{
    display: inline;
    padding: 15px;
}
footer {
    display: flex;

    justify-content: space-around;
    margin: 0 35px;
    padding: 30px;
}
footer .content{
    display: inline;
    margin-right: 30px;
}
footer .content1{
    display: inline;
}
.blue{
    color: #278FFF;
}
}